.search-bar-container {
    padding: 0 20px;
}

.search-bar {
    font-family: var(--code);
    font-size: 16px;
    height: 40px;
    padding-left: 10px;
    width: calc(100% - 100px);
}

.search-button {
    border-radius: 4px;
    padding: 12px;
    font-size: 1em;
    font-weight: 700;
    font-family: inherit;
    background-color: #1a1a1a;
    color: white;
    cursor: pointer;
}